		    .MENU{
    	font-size: 30px;
    	padding: 10px;
			width: 96%;
    }
      nav.MENU{
    	display: flex;
    	height: 40px;
			background-color:#000;
			border-width: 20px;
			border-style: double;
			border-color: red;
    }
    a{
    	text-decoration: none;
    }
body{
	padding: 0;
	margin: 10px;
	font-family: sans-serif;
	background-color: #444;
}
h1 {
	font-size: 50px;
	color: #fff;
	text-align: center;	
}

.contenedor{
	width: 100%;
	margin: auto;
}
img{
width: 100%;
}
.galeria_colunna{
	margin: 5px;

}
.galeria_colunna:hover{
	filter:-webkit-transform:scale(1.3);transform:scale(1.3)
}
.galeria .contenedor{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}
@media(min-width: 520px){
	.galeria_colunna{
		width: 40%;
	}

}
@media(min-width: 728px){
	.galeria_colunna{
		width: 32%;
	}
}
@media(min-width: 1024px){
	.galeria_colunna{
		width: 24%;
	}
	.contenedor{
		width: 1024px;
	}
}
@media(min-width: 1200px){
	.contenedor{
		width: 1200px;
	}
}
